.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.VSN-Top-Nav {
  background-image: linear-gradient(to right, #ffffff, #59d4ca, #074b4b);
  color: var(--black);
  font-weight: bold;
  box-shadow: 0 5px 10px rgb(0 0 0 / 10%), 0 15px 10px rgb(0 0 0 / 10%);
  font-size: var(--base-font-size);
  padding-left: 50px;
  padding-right: 50px;
}

.navbar-collapse {
  justify-content: flex-end;
  color: darkcyan;
  /* background-color: black; */
}

/* .navbar-collapse:hover {
  background-color: #eee;
} */

.nav-link {
  color: whitesmoke;
  display: flex;
  padding: 2px;
  margin: 2px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.nav-link:hover {
  background-color: lightcyan;
  color: black;

}

.footer {
  color: var(--white-smoke);
  background: #d3d4d3;
  padding: 10px;
  position: fixed;
  bottom: 0px;
  width: 100%;
  text-align: left;
}

.main_section {
  background-image: linear-gradient(to top, #ffffff, #59d4ca);
  min-height: 230px;
  position: fixed;
  height: 300px;
  left: 0%;
  top: 5%;
  width: 100%;
  z-index: -1;
}

.outer-page-content-container {
  background: var(--white);
  /* min-height: 800px; */
  /* box-shadow: 0 5px 10px rgb(0 0 0 / 5%), 0 15px 10px rgb(0 0 0 / 5%); */
  margin-bottom: 50px;
  padding: 15px;
  border-radius: 5px;
  margin-top: -40px;
  width: 100%;

}

.outer-page-content-container-nodual-header {
  background: var(--white);
  min-height: 650px;
  box-shadow: 0 5px 10px rgb(0 0 0 / 5%), 0 15px 10px rgb(0 0 0 / 5%);
  margin-bottom: 100px;
  padding: 15px;
  border-radius: 5px;
  margin-top: -65px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.slideshow-container {
  position: relative;
}

.slideshow-image {
  width: 100%;
  /* Set the width to 100% of its container */
  height: 500px;
  /* Set the desired height */
  object-fit: cover;
  /* Maintain aspect ratio and cover the container */
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.company-details {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  text-align: left;
  border-radius: 0 0 8px 8px;
}

.company-details h2 {
  margin-bottom: 5px;
}

.company-details p {
  margin: 0;
}

.dropdown-content {
  display: block;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content li {
  padding: 12px;
  text-decoration: none;
  display: block;
  color: black;
}

.dropdown-content li:hover {
  background-color: #ddd;
}


/* ---------------------------------------------------------- */
/* videoplay about us*/
.abt-title {
  text-align: center;
  font-family: inherit;
  font-size: 3rem;
  font-weight: 500;
  padding-bottom: 1rem;

}

video {
  width: 100%;
  /* height: 100%; */
  object-fit: cover;
  border-radius: 2%;
}

.center-vsn-about {
  display: flex;
  flex-direction: row;
  /* align-items: center; */
}

button {
  text-align: center;
}

.about-para {
  font-size: 18px;
  word-break: break-all;
  padding: 1em;
}

.button-About {
  text-align: center;
}



@media (max-width: 991px) {
  .center-vsn-about {
    display: flex;
    flex-direction: column;
  }

}

/* ourprodcts */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 40px;
  justify-items: center;
}

.box-1 {
  /* Styles for your box */
  width: 250px;
  height: 280px;
  background-color: rgb(248, 248, 250);
  box-shadow: 15px 15px 30px #bebebe,
    -15px -15px 30px #ffffff;
  border-radius: 13px 13px 0px 0px;
}

.blue-p {
  font-family: Verdana;
  line-height: 10px;
  font-size: 9px;
  letter-spacing: 0px;
  padding: 1px;

}

h5 {
  font-size: 1rem;
}

.imgrock {

  width: 250px;
  height: 170px;
  border-radius: 13px 13px 0px 0px;
  padding: 5px;

}

/* Media query for screens smaller than 600px */
@media (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr;
  }

  .imgrock {
    width: 350px;
  }

  .box-1 {
    width: 350px;
  }

  .steps4 {
    flex-direction: column;
  }
}



/* .container{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 300px;
}
.thumbnail{
  flex: 1 1 200px;
  background-color: red;
  height: 250px;
}
.content{
  flex: 2 1 300px;
  background-color: yellow;
} */


/* 4 steps about bussines excelence */
.card {
  max-width: 45em;
  flex-direction: row;
  margin-bottom: 1rem;

}

.card img {
  max-width: 30%;
  /* margin: auto; */
  padding: 0.5rem;
  border-radius: 0.7rem;
}

.steps4 {
  display: flex;
  justify-content: space-around;
  align-items: center;

}

.card-text {
  line-height: 16px;
  /* word-break: break-all; */
  font-size: 10px;
  font-weight: 600;
}


/* ---------------chose us */
.y-choose-us {
  background-color: cadetblue;
}

.line-under1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.line-under {
  background-color: #3c3b38;
  width: 150px;
  height: 3px;

}

.choose-text {
  margin: 0rem 10rem;
}

.choose-card {
  /* display: grid; */
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 60px;
  justify-items: center;
  margin: 0rem 20rem;
}

.card-items img {
  width: 100px;

}

.icon-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width:991px) {
  .choose-card {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(70px, 1fr));
    gap: 30px;
    justify-items: center;
    margin: 0rem 2rem;
  }

  .choose-text {
    margin: 0rem 2rem;
  }

  .card-items img {
    width: 60px;
  }

  h4 {
    font-size: 15 px;
    text-align: center;
  }

}

/* testimonialos ----------------------------------------------------*/

.carousel {
  width: none;
  margin: 5rem auto auto auto;
  padding-bottom: 50px;
}

.carousel .carousel-item {
  color: #999;
  font-size: 14px;
  text-align: center;
  overflow: hidden;
  min-height: 340px;
}

.carousel .carousel-item a {
  color: #eb7245;
}

.carousel .img-box {
  width: 145px;
  height: 145px;
  margin: 0 auto;
  border-radius: 50%;
}

.carousel .img-box img {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 50%;
}

.carousel .testimonial {
  padding: 30px 0 10px;
}

.carousel .overview {
  text-align: center;
  padding-bottom: 5px;
}

.carousel .overview b {
  color: #333;
  font-size: 15px;
  text-transform: uppercase;
  display: block;
  padding-bottom: 5px;
}

.carousel .star-rating i {
  font-size: 18px;
  color: #ffdc12;
}

.carousel-control-prev,
.carousel-control-next {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #33d6e5;
  text-shadow: none;
  top: 4px;
}

.carousel-control-prev i,
.carousel-control-next i {
  font-size: 20px;
  margin-right: 2px;
}

.carousel-control-prev {
  left: auto;
  right: 40px;
}

.carousel-control-next i {
  margin-right: -2px;
}

.carousel .carousel-indicators {
  bottom: 15px;
}

.carousel-indicators li,
.carousel-indicators li.active {
  width: 11px;
  height: 11px;
  margin: 1px 5px;
  border-radius: 50%;
}

.carousel-indicators li {
  background: #e2e2e2;
  border: none;
}

.carousel-indicators li.active {
  background: #33d6e5;
}

.carousel-inne {
  margin-top: 10rem;

}

.Testimonial-title {

  font-family: cursive;
  font-size: 3rem;
  font-weight: 500;
  /* padding-bottom: 1rem; */

}

.under-line {
  width: 200px;
  height: 5px;
  background-color: #33d6e5;
  border-radius: 5px;
}

.arrowline {
  display: flex;
  align-items: center;

}


@media (min-width:991px) {

  .carousel {
    width: 750px;
  }

}

@media (max-width:991px) {

  .Testimonial-title {
    /* font-family: 'Roboto', sans-serif; */
    font-size: 2rem;
  }

}

/* footer -=----------------------------------- */
.Footer {
  padding: 2rem 0;
  /* margin-top: 15rem; */
  background-color: #343a40;
}

.ft-1 h3 {
  font-weight: 700;
  font-family: cursive;
  letter-spacing: 2px;
  padding: 0.5rem 0;
  color: #33d6e5;
}

.ft-1 span {
  /* color: #33d6e5; */
  color: #efdc0c;
}

.ft-1 p {
  padding: 0rem 5rem 0.8rem 0;
  font-weight: 500;
  color: #fff;
}

.footer-icons i {
  padding: 0.4rem 0.5rem;
  background: #e1e1e1;
  color: #161314;
  margin: 0 0.5rem;
  border-radius: 50%;
}

.footer-icons i:hover {
  background: #33d6e5;
  color: #fff;
  transition: 0.6s;
  cursor: pointer;
}

.Footer h5 {
  color: #33d6e5;
  margin-top: 1rem;
}

.ft-2 ul {
  list-style: none;
  padding-left: 0;
}

.ft-2 ul li {
  padding: 0.35rem 0;
  font-weight: 500;
}

.ft-2 ul a {
  text-decoration: none;
  color: #fff;
  font-size: 1.06rem;
}

.ft-2 ul a:hover {
  color: #33d6e5;
}

.ft-3 p {
  font-weight: 500;
  padding: 0.1rem 0;
  font-size: 1.06rem;
  color: #fff;
}

.ft-3 p:hover {
  color: #33d6e5;
}

.ft-3 i {
  padding-right: 0.5rem;
}

.Last-footer {
  background: #4cafaa;
  text-align: center;
  padding: 1rem 0;
}

.Last-footer p {
  margin-bottom: 0;
  font-size: 1.2rem;
  font-weight: 700;

}

.menu {
  display: flex;
  align-items: center;
}

.menu-icon {
  cursor: pointer;
  font-size: 1.5em;
  margin-right: 10px;
}

.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.menu li {
  margin-right: 20px;
  cursor: pointer;
}

.menu.open ul {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 60px;
  left: 0;
  background-color: #333;
  width: 100%;
}

.menu.open li {
  margin-right: 0;
  padding: 10px;
  border-bottom: 1px solid #555;
}