.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.VSN-Top-Nav {
  background-image: linear-gradient(to right, #ffffff, #59d4ca, #074b4b);
  color: var(--black);
  font-weight: bold;
  box-shadow: 0 5px 10px rgb(0 0 0 / 10%), 0 15px 10px rgb(0 0 0 / 10%);
  font-size: var(--base-font-size);
  padding-left: 50px;
  padding-right: 50px;
}

.navbar-collapse {
  justify-content: flex-end;
  color: darkcyan;
  /* background-color: black; */
}

/* .navbar-collapse:hover {
  background-color: #eee;
} */

.nav-link {
  color: whitesmoke;
  display: flex;
  padding: 2px;
  margin: 2px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.nav-link:hover {
  background-color: lightcyan;
  color: black;

}

.footer {
  color: var(--white-smoke);
  background: #d3d4d3;
  padding: 10px;
  position: fixed;
  bottom: 0px;
  width: 100%;
  text-align: left;
}

.main_section {
  background-image: linear-gradient(to top, #ffffff, #59d4ca);
  min-height: 230px;
  position: fixed;
  height: 300px;
  left: 0%;
  top: 5%;
  width: 100%;
  z-index: -1;
}

.outer-page-content-container {
  background: var(--white);
  /* min-height: 800px; */
  /* box-shadow: 0 5px 10px rgb(0 0 0 / 5%), 0 15px 10px rgb(0 0 0 / 5%); */
  margin-bottom: 50px;
  padding: 15px;
  border-radius: 5px;
  margin-top: -40px;
  width: 100%;

}

.outer-page-content-container-nodual-header {
  background: var(--white);
  min-height: 650px;
  box-shadow: 0 5px 10px rgb(0 0 0 / 5%), 0 15px 10px rgb(0 0 0 / 5%);
  margin-bottom: 100px;
  padding: 15px;
  border-radius: 5px;
  margin-top: -65px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.slideshow-container {
  position: relative;
}

.slideshow-image {
  width: 100%;
  /* Set the width to 100% of its container */
  height: 500px;
  /* Set the desired height */
  object-fit: cover;
  /* Maintain aspect ratio and cover the container */
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.company-details {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  text-align: left;
  border-radius: 0 0 8px 8px;
}

.company-details h2 {
  margin-bottom: 5px;
}

.company-details p {
  margin: 0;
}

.dropdown-content {
  display: block;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content li {
  padding: 12px;
  text-decoration: none;
  display: block;
  color: black;
}

.dropdown-content li:hover {
  background-color: #ddd;
}


/* ---------------------------------------------------------- */
/* videoplay about us*/
.aboutus-layout{
  animation: fadeInBottom 1.5s ease-in-out forwards;

}
.abt-title{
      font-size: 35px;
    text-align: center;
   padding-top: 1rem;

}

video{
  width: 85%;
  /* height: 100%; */
  object-fit: cover;
  border-radius: 2%;
}
.video-play{
  display: flex;
  justify-content: center;

}
.default-heading-1 {
  font-size: 15px;
  color: #603232;
    text-align: center;
    margin-bottom: 37px;
    margin-right: auto;
    margin-left: auto;
    max-width: 1080px;
    font-weight: 500;
 
}
.special-heading-1 {
    color: #00bcd4;
    font-weight: 400;
    font-size: 28px;
    text-align: center;
    margin-bottom: 0px;
}
.center-vsn-about{
  display: flex;
  flex-direction: row;
  /* align-items: center; */
}
.wbc-hr-line {
    background-color: #ffc107;
    max-width: 80rem;
    height: 3px;
    border: none;
    margin: 0rem auto 1rem auto;
}
.h4wbc{
  font-family: 'Times New Roman', Times, serif;
  font-weight: 500;
  font-size: 1.3rem;
  padding-top: 1rem;

}
button p{
  text-align: center;
    width: 50%;
}
.content-adjustment{
  text-align: center;
  width: 100%;
}
.content-adjustment p{
  font-size: 18px;
    letter-spacing: 0px;
    margin: auto 0.5rem;
  
}

.button-About{
  text-align: center;
}
.button-About button{
  background: #00bcd4;
  border-radius: 10px;
  font-family: cursive;
  margin-top: 2rem;
  /* box-shadow: 1px 1px 10px #33d6e5; */


}
.button-About button:hover{
  color: #fff;
  padding: 0.2rem 0.5rem;

   box-shadow: 1px 1px 10px #33d6e5;
   

}



@media  (max-width: 768px) {
.center-vsn-about {
    display: flex;
    flex-direction: column;
    }
    .content-adjustment{
  text-align: center;

}
.content-adjustment p{
  font-size: 10px;
    /* letter-spacing: 0px; */
    margin: auto 0.5rem;
}
    
  
}
/* about us animation */
@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translateX(-50px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translateX(50px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes fadeInBottom {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
















/*  linear-gradient(to bottom, rgba(0,0,0,0.7) 0%,rgba(0,0,0,0.7) 100%), url(IMAGE_URL); */

.cards-list {
  z-index: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card {
  margin: 30px auto;
  width: 300px;
  height: 300px;
  border-radius: 40px;
box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
  cursor: pointer;
  transition: 0.4s;
}

.card .card_image {
  width: inherit;
  height: inherit;
  border-radius: 40px;
}

.card .card_image img {
  width: inherit;
  height: inherit;
  border-radius: 40px;
  object-fit: cover;
}

/* .card .card_title p{
  text-align: center;
  border-radius: 0px 0px 40px 40px;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 30px;
  margin-top: -80px;
  height: 40px;
} */
.card .card_title p {
    /* position: absolute; */
    /* text-align: center; */
    text-align: center;
    /* border-radius: 0px 0px 40px 40px; */
    font-family: sans-serif;
    font-weight: bold;
    font-size: 30px;
    margin-left: -301px;
    margin-top: 305px;
    height: 40px;
}

.card:hover {
  transform: scale(0.9, 0.9);
  box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25), 
    -5px -5px 30px 15px rgba(0,0,0,0.22);
}

.title-white {
  color: rgb(5, 5, 5);
}

.title-black {
  color: rgb(255, 255, 255);
}

@media all and (max-width: 500px) {
  .card-list {
    /* On small screens, we are no longer using row direction but column */
    flex-direction: column;
  }
}

























note
/* flip------------------------------------- */

/* Typography ===========for company business excellence============*/

/* Headings */

/* Main heading for card's front cover */
.card-front__heading {
  font-size: 1.5rem;
  margin-top: .25rem;
}

/* Main heading for inside page */
.inside-page__heading { 
  padding-bottom: 1rem; 
  width: 100%;
}

/* Mixed */

/* For both inside page's main heading and 'view me' text on card front cover */
.inside-page__heading,
.card-front__text-view {
  font-size: 1.3rem;
  font-weight: 800;
  margin-top: .2rem;
}

.inside-page__heading--city,
.card-front__text-view--city { color: #ff62b2; }

.inside-page__heading--ski,
.card-front__text-view--ski { color: #2aaac1; }

.inside-page__heading--beach,
.card-front__text-view--beach { color: #fa7f67; }

.inside-page__heading--camping,
.card-front__text-view--camping { color: #00b97c; }

/* Front cover */

.card-front__tp { color: #fafbfa; }

/* For pricing text on card front cover */
.card-front__text-price {
  font-size: 1.2rem;
  margin-top: -.2rem;
}

/* Back cover */

/* For inside page's body text */
.inside-page__text {
  color: #333;
  font-size: 0.7rem;
}

/* Icons ===========================================*/

.card-front__icon {
  fill: #fafbfa;
  font-size: 3vw;
  height: 3.25rem;
  margin-top: -.5rem;
  width: 3.25rem;
}

/* Buttons =================================================*/

.inside-page__btn {
  background-color: transparent;
  border: 3px solid;
  border-radius: .5rem;
  font-size: 1.2rem;
  font-weight: 600;
  margin-top: 2rem;
  overflow: hidden;
  padding: .7rem .75rem;
  position: relative;
  text-decoration: none;
  transition: all .3s ease;
  width: 90%;
  z-index: 10;
}

.inside-page__btn::before { 
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transform: scaleY(0);
  transition: all .3s ease;
  width: 100%;
  z-index: -1;
}

.inside-page__btn--city { 
  border-color: #ff40a1;
  color: #ff40a1;
}

.inside-page__btn--city::before { 
  background-color: #ff40a1;
}

.inside-page__btn--ski { 
  border-color: #279eb2;
  color: #279eb2;
}

.inside-page__btn--ski::before { 
  background-color: #279eb2;
}

.inside-page__btn--beach { 
  border-color: #fa7f67;
  color: #fa7f67;
}

.inside-page__btn--beach::before { 
  background-color: #fa7f67;
}

.inside-page__btn--camping { 
  border-color: #00b97d;
  color: #00b97d;
}

.inside-page__btn--camping::before { 
  background-color: #00b97d;
}

.inside-page__btn:hover { 
  color: #fafbfa;
}

.inside-page__btn:hover::before { 
  transform: scaleY(1);
}

/* Layout Structure====== for business excellence===================================*/

.main {
  /* background: linear-gradient(
    to bottom right,
    #eee8dd,
    #e3d9c6
  ); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* height: 100vh; */
  width: 100%;
  margin-bottom: 5rem;
  padding-top: 2rem;
}

/* Container to hold all cards in one place */
.card-area {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 100%;
  justify-content:center;
  gap: 20px;
  padding: 1rem;
  z-index: 1;
}

/* Card ============================================*/

/* Area to hold an individual card */
.card-section {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
}

/* A container to hold the flip card and the inside page */
.card {
  background-color: rgba(0,0,0, .05);
  box-shadow: -.1rem 1.7rem 6.6rem -3.2rem rgba(0,0,0,0.5);
  height: 15rem;
  position: relative;
  transition: all 1s ease;
  width: 15rem;
}

/* Flip card - covering both the front and inside front page */

/* An outer container to hold the flip card. This excludes the inside page */
.flip-card {
  height: 15rem;
  perspective: 100rem;
  position: absolute;
  right: 0;
  transition: all 1s ease;
  visibility: hidden;
  width: 15rem;
  z-index: 100;
}

/* The outer container's visibility is set to hidden. This is to make everything within the container NOT set to hidden  */
/* This is done so content in the inside page can be selected */
.flip-card > * {
  visibility: visible;
}

/* An inner container to hold the flip card. This excludes the inside page */
.flip-card__container {
  height: 100%;
  position: absolute;
  right: 0;
  transform-origin: left;
  transform-style: preserve-3d;
  transition: all 1s ease;
  width: 100%;
}

.card-front,
.card-back {
  backface-visibility: hidden;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

/* Styling for the front side of the flip card */

/* container for the front side */
.card-front {
  background-color: #fafbfa;
  height: 15rem;
  width: 15rem;
}

/* Front side's top section */
.card-front__tp {
  align-items: center;
  clip-path: polygon(0 0, 100% 0, 100% 90%, 57% 90%, 50% 100%, 43% 90%, 0 90%);
  display: flex;
  flex-direction: column;
  height: 12rem;
  justify-content: center;
  padding: .75rem;
}

.card-front__tp--city {
  background: linear-gradient(
    to bottom,
    #ff73b9,
    #ff40a1
  );
}

.card-front__tp--ski {
  background: linear-gradient(
    to bottom,
    #47c2d7,
    #279eb2
  );
}

.card-front__tp--beach {
  background: linear-gradient(
    to bottom,
    #fb9b88,
    #f86647
  );
}

.card-front__tp--camping {
  background: linear-gradient(
    to bottom,
    #00db93,
    #00b97d
  );
}

/* Front card's bottom section */
.card-front__bt {
  align-items: center;
  display: flex;
  justify-content: center;
}

/* Styling for the back side of the flip card */

.card-back {
  background-color: #fafbfa;
  transform: rotateY(180deg);
}

/* Specifically targeting the <video> element */
.video__container {
  clip-path: polygon(0% 0%, 100% 0%, 90% 50%, 100% 100%, 0% 100%);
  height: auto;
  min-height: 100%;
  object-fit: cover;
  width: 100%;
}

/* Inside page */

.inside-page {
  background-color: #fafbfa;
  box-shadow: inset 20rem 0px 5rem -2.5rem rgba(0,0,0,0.25);
  height: 100%;
  padding: 1rem;
  position: absolute;
  right: 0;
  transition: all 1s ease;
  width: 15rem;
  z-index: 1;
}

.inside-page__container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  text-align: center; 
  width: 100%;
}

/* Functionality ====================================*/

/* This is to keep the card centered (within its container) when opened */
.card:hover {
  box-shadow:
  -.1rem 1.7rem 6.6rem -3.2rem rgba(0,0,0,0.75);
  width: 30rem;
}

/* When the card is hovered, the flip card container will rotate */
.card:hover .flip-card__container {
  transform: rotateY(-180deg);
}

/* When the card is hovered, the shadow on the inside page will shrink to the left */
.card:hover .inside-page {
  box-shadow: inset 1rem 0px 5rem -2.5rem rgba(0,0,0,0.1);
}

/* For mobile devices */
@media (max-width: 600px) {
  .main {
    /* Your styles for mobile devices go here */
    height: none;
  }
  .card-area {
    /* Your styles for tablets go here */
    flex-direction: column;
  }
  .card:hover .flip-card {
    height: 15rem;
    perspective: 100rem;
    position: absolute;
    right: 0;
    transition: all 1s ease;
    visibility: hidden;
    width: 11rem;
    z-index: 100;
}
.card:hover .card-section {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: flex-end;
    width: 100%;
}
.card:hover .inside-page {
    
    width: 12rem;
   
}
.inside-page__text {
  color: #333;
  font-size: 0.5rem;
}
 
}

/* For tablets */
@media (min-width: 601px) and (max-width:991px) {
   .main {
    /* Your styles for mobile devices go here */
    height: none;
  }
  .card-area {
    /* Your styles for tablets go here */
    flex-direction: column;
  }
}








/* ---------------chose us */

.y-choose-us{
    color: #fff;
    background-image: url("https://graniteofindia.com/wp-content/uploads/2019/07/black-bg.jpg");
    background-color: rgb(255, 255, 255);
    min-height: 300px;
}
.line-under1{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
}
.line-under{
  background-color: #3c3b38;
  width: 150px;
  height: 3px;

}
.choose{
  display: flex;
    flex-direction: column;
    /* align-content: center; */
    /* justify-content: center; */
    /* align-items: center; */
    margin: 1rem auto;
}
.wbc-hr-1{
 background-color: #fff;
    width: 85px;
    height: 5px;
    margin: 1rem auto;
    
}
.content-adjust p{
  text-align: center;
}
.bar-images{

  margin: auto;
  overflow: hidden;
  position: relative;
  width: auto;

}
.bar-images .bar-items{
  display: flex;
  flex-direction: column;

}
.bar-images .bar-items .item{
      width: 100%;
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.bar-images .bar-items .item img{
  width: 40px;
  height: auto;
}
.bar-images .bar-items .item h4{
  font-size: 16px;

}
@media only screen and (min-device-width:768px) {
  .bar-images .bar-items{
  display: flex;
  flex-direction: row;

}


}
/* products range */

.cards-list {
  z-index: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card-stone {
  margin: 30px auto;
  width: 300px;
  height: 300px;
  border-radius: 40px;
box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
  cursor: pointer;
  transition: 0.4s;
}

.card-stone .card_image {
  width: inherit;
  height: inherit;
  border-radius: 40px;
}

.card-stone .card_image img {
  padding: 0.5rem;
  width: inherit;
  height: inherit;
  border-radius: 40px;
  object-fit: cover;
}

/* .card .card_title p{
  text-align: center;
  border-radius: 0px 0px 40px 40px;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 30px;
  margin-top: -80px;
  height: 40px;
} */
.card-stone .card_title p {
    /* position: absolute; */
    /* text-align: center; */
    text-align: center;
    /* border-radius: 0px 0px 40px 40px; */
    font-family: sans-serif;
    font-weight: bold;
    font-size: 30px;
    /* margin-left: -301px; */
    /* margin-top: 305px; */
    height: 40px;
}

.card-stone:hover {
  transform: scale(0.9, 0.9);
  box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25), 
    -5px -5px 30px 15px rgba(0,0,0,0.22);
}

.title-white {
  color: rgb(5, 5, 5);
}

.title-black {
  color: rgb(255, 255, 255);
}

@media all and (max-width: 500px) {
  .card-list {
    /* On small screens, we are no longer using row direction but column */
    flex-direction: column;
  }
}







/* ------------ */
.container{
  width: 95%;
  /* min-height: 100vh; */
  position: relative;
  margin: 0 auto;

}

/* MyComponent.css */

.wpb_wrapper {
  /* Add your styles here */
}

.wbc-heading.clearfix {
  /* Add your styles here */
}

.default-heading {
  font-size: 15px;
    text-align: center;
    margin-bottom: 37px;
    margin-right: auto;
    margin-left: auto;
    max-width: 750px;
 
}

.special-heading-3 {
  font-size: 35px;
  text-align: center;
  margin-bottom: 0px;
}

.wbc-color {
  /* Add your styles here */
}

.wbc-hr {
  margin: 1rem auto;
  background-color: #713735;
    width: 85px;
    height: 5px;
}
hr {
    /* margin: 1rem 0; */
    color: inherit;
    border: 0;
    border-top: var(--bs-border-width) solid;
    opacity: .25;
}

.container h2{
  color: #0b0909;
  text-align: center;
  padding: 15px;
  font-size: 40px;
  font-weight: bold;
  
}
.container .media-container{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 15px;
  margin: 20px auto;
  justify-items: center;
}


.container .popup-media{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;

}
.container .popup-media :is(img){
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, 50%);
    display: block;
    min-width: 50%;
    max-height: 60%;
    object-fit: cover;
    /* border: 1px solid #888; */

}
.container .popup-media span{
  position: absolute;
  top: 80px;
  right: 20px;
  font-size: 50px;
  font-weight: bolder;
  z-index: 100;
  cursor: pointer;
  color: #fff;
  user-select: none;
}
/* infraaaaaaaaaaaaaaaaaaaaa */



.grid-container {
  margin: auto;
  display: grid;
  grid-gap: 1.1312rem;
  grid-template-columns: repeat(auto-fit, 12.8rem);
  grid-auto-rows: 12.8rem;
  grid-auto-flow: dense;
  justify-content: center;
  max-width: 75em;
}

.card-infra {
  grid-row: auto / span 1;
  grid-column: auto / span 1;
  background-color: white;
  box-shadow: 1px 3px 3px rgba(0, 10, 20, 0.06);
}

.card-infra h1, .card h2, .card h3, .card h4, .card p {
  margin-top: 0;
  font-weight: 600;
  margin-bottom: 2rem;
}

.card__image {
  height: 100%;
  max-height: 100%;
  width: 100%;
  display: flex;
}

.card__image img {
  height: 100%;
  min-height: 100%;
  max-height: 100%;
  width: 100%;
  object-fit: cover;
}

.card__side-by-side {
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
}

.card__side-by-side--m {
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
}

.card__side-by-side--m img {
  min-height: auto;
}

.card__content {
  padding: 1.6rem;
}

.card__button {
  margin: 1.6rem 0;
  text-align: center;
  padding: 0.8rem 1.6rem;
  background: none;
  border: 0.5px solid #777;
  border-radius: 2px;
}

.card__button:hover {
  border-color: #d099a0;
}

.card--featured {
  grid-row: auto / span 3;
  grid-column: auto / span 2;
}

.card--2x {
  grid-row: auto / span 2;
  grid-column: auto / span 2;
}

.card--vertical {
  grid-row: auto / span 2;
}

.card--horizontal {
  grid-column: auto / span 2;
}

.card--frameless {
  background-color: transparent;
  box-shadow: none;
}

.padding-large {
  padding: 3.2rem;
}

.padding-large--l {
  padding: 1.6rem;
}

.big-script {
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  font-family: 'Sacramento', sans-serif;
  /* font-size: 4.3em; */
  /* line-height: 1.15em; */
  padding: 1em;
  text-align: center;
}

.big-script p {
  margin: 0;
}

@media (max-width: 413px) {
  .grid-container {
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto;
  }
  .card-infra {
    min-height: 12.8rem;
  }
}

@media (min-width: 627px) {
  .grid-container {
    grid-gap: 0.6rem;
  }
  .card__side-by-side--m {
    flex-flow: row nowrap;
  }
  .card--featured {
    grid-row: auto / span 2;
    grid-column: 1 / -1;
  }
}

@media (min-width: 836px) {
  .padding-large--l {
    padding: 3.2rem;
  }
}














/* --------------------company gallary---------------- */
.gallery img{
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    display: inline-block;
}
.gallery {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: 200px;
    grid-auto-flow: dense;
}
.gallery > div {
    display: flex;
    justify-content: center;
    align-items: center;
}
.gallery > div > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}
.gallery .tall {
    grid-row: span 2;
}






/* testimonialos ----------------------------------------------------*/

.carousel {
  width: none;
  margin: 5rem auto auto auto;
  padding-bottom: 50px;
}

.carousel .carousel-item {
  color: #999;
  font-size: 14px;
  text-align: center;
  overflow: hidden;
  min-height: 340px;
}

.carousel .carousel-item a {
  color: #eb7245;
}

.carousel .img-box {
  width: 145px;
  height: 145px;
  margin: 0 auto;
  border-radius: 50%;
}

.carousel .img-box img {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 50%;
}

.carousel .testimonial {
  padding: 30px 0 10px;
}

.carousel .overview {
  text-align: center;
  padding-bottom: 5px;
}

.carousel .overview b {
  color: #333;
  font-size: 15px;
  text-transform: uppercase;
  display: block;
  padding-bottom: 5px;
}

.carousel .star-rating i {
  font-size: 18px;
  color: #ffdc12;
}

.carousel-control-prev,
.carousel-control-next {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #33d6e5;
  text-shadow: none;
  top: 4px;
}

.carousel-control-prev i,
.carousel-control-next i {
  font-size: 20px;
  margin-right: 2px;
}

.carousel-control-prev {
  left: auto;
  right: 40px;
}

.carousel-control-next i {
  margin-right: -2px;
}

.carousel .carousel-indicators {
  bottom: 15px;
}

.carousel-indicators li,
.carousel-indicators li.active {
  width: 11px;
  height: 11px;
  margin: 1px 5px;
  border-radius: 50%;
}

.carousel-indicators li {
  background: #e2e2e2;
  border: none;
}

.carousel-indicators li.active {
  background: #33d6e5;
}

.carousel-inne {
  margin-top: 10rem;

}

.Testimonial-title {

  font-family: cursive;
  font-size: 3rem;
  font-weight: 500;
  /* padding-bottom: 1rem; */

}

.under-line {
  width: 200px;
  height: 5px;
  background-color: #33d6e5;
  border-radius: 5px;
}

.arrowline {
  display: flex;
  align-items: center;

}


@media (min-width:991px) {

  .carousel {
    width: 750px;
  }

}

@media (max-width:991px) {

  .Testimonial-title {
    /* font-family: 'Roboto', sans-serif; */
    font-size: 2rem;
  }

}

/* footer -=----------------------------------- */
.Footer {
  padding: 2rem 0;
  /* margin-top: 15rem; */
  background-color: #343a40;
}

.ft-1 h3 {
  font-weight: 700;
  font-family: cursive;
  letter-spacing: 2px;
  padding: 0.5rem 0;
  color: #33d6e5;
}

.ft-1 span {
  /* color: #33d6e5; */
  color: #efdc0c;
}

.ft-1 p {
  padding: 0rem 5rem 0.8rem 0;
  font-weight: 500;
  color: #fff;
}

.footer-icons i {
  padding: 0.4rem 0.5rem;
  background: #e1e1e1;
  color: #161314;
  margin: 0 0.5rem;
  border-radius: 50%;
}

.footer-icons i:hover {
  background: #33d6e5;
  color: #fff;
  transition: 0.6s;
  cursor: pointer;
}

.Footer h5 {
  color: #33d6e5;
  margin-top: 1rem;
}

.ft-2 ul {
  list-style: none;
  padding-left: 0;
}

.ft-2 ul li {
  padding: 0.35rem 0;
  font-weight: 500;
}

.ft-2 ul a {
  text-decoration: none;
  color: #fff;
  font-size: 1.06rem;
}

.ft-2 ul a:hover {
  color: #33d6e5;
}

.ft-3 p {
  font-weight: 500;
  padding: 0.1rem 0;
  font-size: 1.06rem;
  color: #fff;
}

.ft-3 p:hover {
  color: #33d6e5;
}

.ft-3 i {
  padding-right: 0.5rem;
}

.Last-footer {
  background: #4cafaa;
  text-align: center;
  padding: 1rem 0;
}

.Last-footer p {
  margin-bottom: 0;
  font-size: 1.2rem;
  font-weight: 700;

}

.menu {
  display: flex;
  align-items: center;
}

.menu-icon {
  cursor: pointer;
  font-size: 1.5em;
  margin-right: 10px;
}

.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.menu li {
  margin-right: 20px;
  cursor: pointer;
}

.menu.open ul {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 60px;
  left: 0;
  background-color: #333;
  width: 100%;
}

.menu.open li {
  margin-right: 0;
  padding: 10px;
  border-bottom: 1px solid #555;
}


/* contact us form */
/* .contact-us-layout{
 border: 6px solid #33d6e5;
  border-radius: 15px;

} */
.contcat-from{
  width: 100%;
  padding: 20px;
  
  /* background: #ffffff; */
}
.contcat-from h2{
  font-size: 30px;
  color: #fff;
  font-weight: 600;
}
.contcat-from .inputbox{
  position: relative;
  width: 100%;
  margin-top: 10px;
}
.contcat-from .inputbox input,
.contcat-from .inputbox textarea
{
  width: 100%;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid #333;
  outline: none;
  resize: none;
  overflow: hidden;
  background-color: #fff;
  border-radius: 15px;
  padding-left: 15px;
}
.contcat-from .inputbox span{
  position: absolute;
  left: 0;
  padding: 5px 10px;
  font-size: 16px;
  margin: 10px 0;
  pointer-events: none;
  transition: 0.5s;
  color: #666;
  font-weight: 400;
}
.contcat-from .inputbox input:focus ~ span,
.contcat-from .inputbox input:valid ~ span,
.contcat-from .inputbox textarea:focus ~ span,
.contcat-from .inputbox textarea:valid ~ span{
  color:#33d6e5;
  font-size: 15px;
  /* top: -10px; */
  transform: translateY(-30px);
}
.contcat-from .inputbox input[type="submit"]{
    width: 100%;
    background: #6e7374;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 5px 35px;
    font-size: 20px;
    border-radius: 24px;
}
.contcat-from .inputbox input[type="submit"]:hover{
  background:#00bcd4;
  box-shadow: 1px 1px 5px #00bcd4;
}
.inputcenter{
  display: flex;
  justify-content: center;
}
.cnt-container{
      display: flex;
    width: 100%;
    flex-direction: row;
}

.cnt-form-1{
  /* background: #000; */
  border-radius: 15px;
  width: 60%;
}
.cnt-form-2{
  border: 5px solid #888;
   border-radius: 15px;
 
  width: 100%;
}
.cnt-form-2 iframe{
  width: 100%;
  
   border-radius: 10px;

}
@media (max-width:991px) {

  .cnt-container{
    /* width: 100%; */
    flex-direction: column;
}
.cnt-form-1{
  width: 100%;
}

.contcat-from {
    width: 100%;
    padding: 40px;
    background: #ffffff;
}

}
